body{
    background-image: url(../images/texture-dark-background-metal.jpg);
}

.logo {
    margin: 10px 200px 10px 0;
}

.nav {
    height: 100px;
    text-align: center;
    margin: 10px;
    -webkit-border-radius:5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 5px 5px 2px #151515;
}

.nav a{
    text-decoration: none;
    color: #FFF;
}

.nav img {
    width: 50px;
    height: 50px;
    margin: 25px 0 0 15px;
}

#green {
    background-color: #58FA58;
}

#green img {
    width: 50px;
    height:50px;
}

#yellow {
    background-color: #F4FA58;
}

#orange {
    background-color: #FAAC58;
}

#pink {
    background-color: #FA5858;
}