body{
    background-image: url(../images/texture-dark-background-metal.jpg);
    font-family: 'Bad Script', cursive;
}

.logo {
    margin: 10px 280px 10px 40px;
}

.nav {
    height: 100px;
    text-align: center;
    margin: 10px;
    -webkit-border-radius:5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}


.nav img {
    width: 50px;
    height: 50px;
    margin: 25px 0 0 15px;
}

.green {
    background-color: #58FA58;
}

.yellow {
    background-color: #F4FA58;
}

.orange {
    background-color: #FAAC58;
}

.pink {
    background-color: #FA5858;
}

.info {
    width: 100%;
    height: auto;
    margin-top: 70px;
    padding-bottom: 50px;
    background-color: #05b3e8;
    border: 1px groove #05b3e8;
    border-radius: 10px;
    color: #FFFFFF;
}

.info h3 {
    text-align: center;
    margin-top: 40px;
}

.info p {
    width: 80%;
    text-align: center;
    margin-left: 10%;

}

hr {
    width: 150px;
}

.partners {
    border-radius: 10px;
    margin-top: 10px;
    height: auto;
}

.partners img {
    width: 200px;
}


.imperia {
    background:url(../images/imperia.png) no-repeat center center;
    height:200px;
    width:400px;
    margin-left: 100px;
}

.trader {
    background:url(../images/trader.png) no-repeat center center;
    height:200px;
    width:400px;
}

.partner {
    margin-left: 60px;
}

.last {
    margin-bottom: 70px;
}

.footer {
    height: 100px;
    text-align: center;
    margin: 10px ;
    -webkit-border-radius:5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}


.footer img {
    width: 50px;
    height: 50px;
    margin-top: 25px;
}
.blue {
    background-color: #05b3e8;
    margin-right: 280px;
    color: #FFFFFF;
}

.blue img {
    margin-top: 15px;
}

#active {
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: infinite;
}
